body {
  background-color: rgb(189, 189, 189);
}
.div1 {
  border: 5px;
  border-style: solid;
}
.div2 {
  padding-top: 2%;
  text-align: center;
}
.h {
  text-align: center;
}
.ul {
  margin-left: 30%;
}
